.titleWrapper {
  margin-bottom: var(--spacing-48);
  text-align: center;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--color-cool-gray-90);
  text-align: center;
  margin-bottom: var(--spacing-48);
}

.togglerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-16);
  color: var(--color-cool-gray-90);
  margin-bottom: var(--spacing-48);
}

.discountWrapper {
  position: relative;
}

.discount {
  position: absolute;
  bottom: 27px;
  left: -35px;
  border-radius: 10px;
  background: var(--color-cool-gray-10);
  padding: 1px 10px 2px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .titleWrapper {
    margin-bottom: var(--spacing-24);
  }

  .description {
    font-size: 16px;
    margin-bottom: var(--spacing-32);
  }

  .togglerWrapper {
    margin-bottom: var(--spacing-32);
  }
}
