.main {
  padding: var(--spacing-80) 0;
  background-color: var(--color-bg-2);
}

.main>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainItem {
  width: 50%;
}

.mainItem img {
  width: 100%;
  max-width: 600px;
}

.mainItem+.mainItem {
  margin-top: 0;
  margin-left: var(--spacing-80);
}


.mainItem h1 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--spacing-48);
}

.mainItem p {
  font-size: var(--body-l-font-size);
  margin-bottom: var(--spacing-64);
}

.mainBtns button {
  font-size: var(--btn-l-font-size);
  padding: var(--spacing-16) var(--spacing-32);
}

.mainBtns button+button {
  margin-left: var(--spacing-16);
}


@media screen and (max-width: 1024px) {
  .main {
    padding: var(--spacing-48) 0;
  }

  .main>div {
    flex-direction: column;
  }

  .mainItem {
    width: 100%;
  }

  .mainItem+.mainItem {
    margin-top: var(--spacing-48);
    margin-left: 0;
  }

  .mainItem p {
    font-size: var(--body-m-font-size);
    margin-bottom: var(--spacing-48);
  }

  .mainItem h1 {
    font-size: var(--h4-font-size);
    margin-bottom: var(--spacing-24);
  }

  .mainItem button {
    font-size: var(--btn-m-font-size);
    padding: var(--spacing-16) var(--spacing-24);
  }
}