.select {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-cool-gray-30);
  border-left: none;
  color: var(--color-cool-gray-60);
  background-color: var(--color-cool-gray-10);
}

.selectTitle {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-16);
  height: 100%;
  text-align: start;
  white-space: nowrap;
}

.titleImg {
  margin-left: var(--spacing-16);
}

.up {
  transform: rotate(180deg);
}

.selectContent {
  position: absolute;
  border: 1px solid var(--color-cool-gray-30);
  background-color: var(--color-cool-gray-10);
  top: 100%;
  left: -1px;
  width: 340px;
}

.contentItem {
  padding: var(--spacing-8) var(--spacing-8) var(--spacing-8) var(--spacing-16);
  cursor: pointer;
}

.contentItem:hover {
  background-color: var(--color-cool-gray-20);
}

.active {
  background-color: var(--color-cool-gray-20);
}