.search {
  width: 100%;
  position: relative;
  display: flex;
  font-size: var(--body-m-font-size);
}

.search__img {
  position: absolute;
  top: calc(50% - 10px);
  left: var(--spacing-2);
}

.search input[type="text"] {
  min-width: 150px;
  width: 100%;
  padding-left: var(--spacing-6);
  border: 1px solid var(--color-cool-gray-30);
  color: var(--color-cool-gray-60);
  background-color: var(--color-cool-gray-10);
  font-family: 'Roboto';
}

.search input[type="submit"] {
  margin-left: var(--spacing-3);
  font-size: var(--btn-m-font-size);
}

.search input[type="text"]:focus-visible {
  outline: none;
}

.search input[type="text"]::placeholder {
  opacity: 1;
}
