.about {
  padding: var(--spacing-80) 0;
}

.about>div {
  display: flex;
  justify-content: space-between;
}

.mainHeading {
  font-size: var(--h2-font-size);
  margin-bottom: var(--spacing-16);
}

.mainParagraph {
  font-size: var(--body-l-font-size);
}

.aboutList {
  display: flex;
  margin-left: var(--spacing-80);
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 0 var(--spacing-16);
  justify-content: space-between;
}

.listItem+.listItem {
  margin-left: var(--spacing-32);
}

.itemHeading {
  font-size: var(--h5-font-size);
  margin-top: var(--spacing-24);
}

.itemParagraph {
  font-size: var(--body-m-font-size);
  margin: var(--spacing-16) 0;
}

.itemHref {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: var(--spacing-16) 0;
  font-size: var(--btn-m-font-size);
  color: var(--color-primary-60);
}

.hrefImg {
  margin-left: var(--spacing-8);
}

.itemImg {
  height: 48px;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: var(--spacing-48) 0;
  }

  .mainParagraph {
    font-size: var(--body-m-font-size);
  }

  .listItem+.listItem {
    margin-left: 0;
    margin-top: var(--spacing-32);
  }

  .aboutList {
    margin-left: 0;
    margin-top: var(--spacing-32);
  }

  .aboutList {
    flex-direction: column;
  }

  .about>div {
    flex-direction: column;
  }

  .aboutMain {
    max-width: none;
  }
}