:root {
  --color-primary-90: #003d87;
  --color-primary-60: #458ff6;
  --color-primary-30: #a6c8ff;
  --color-white: #ffffff;
  --color-error: #da1e28;
  --color-warning: #f1c21b;
  --color-success: #25a249;
  --color-overlay: rgba(18, 22, 25, 0.5);
  --color-bg: #ffffff;
  --color-bg-2: #f2f4f8;
  --color-border: #dde1e6;
  --color-border-2: #c1c7cd;
  --color-border-3: #a2a9b0;
  --color-border-4: #878d96;
  --color-light-text: #697077;
  --color-lignt-text-2: #4d5358;
  --color-light-text-3: #343a3f;
  --color-text: #21272a;
  --color-text-2: #121619;

  --spacing-8: 8px;
  --spacing-16: calc(var(--spacing-8) * 2);
  --spacing-24: calc(var(--spacing-8) * 3);
  --spacing-32: calc(var(--spacing-8) * 4);
  --spacing-48: calc(var(--spacing-8) * 6);
  --spacing-64: calc(var(--spacing-8) * 8);
  --spacing-80: calc(var(--spacing-8) * 10);
  --spacing-96: calc(var(--spacing-8) * 12);

  --h1-font-size: 54px;
  --h2-font-size: 42px;
  --h3-font-size: 32px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --h6-font-size: 18px;

  --body-l-font-size: 18px;
  --body-m-font-size: 16px;
  --body-s-font-size: 14px;
  --body-xs-font-size: 12px;
  --body-xxs-font-size: 10px;

  --btn-l-font-size: 20px;
  --btn-m-font-size: 16px;
  --btn-s-font-size: 14px;
}