:root {
  --color-primary-90: #003d87;
  --color-primary-60: #0f62fe;
  --color-primary-30: #a6c8ff;
  --color-white: #ffffff;
  --color-error: #da1e28;
  --color-warning: #f1c21b;
  --color-success: #25a249;
  --color-overlay: rgba(18, 22, 25, 0.5);
  --color-cool-gray-10: #f2f4f8;
  --color-cool-gray-20: #dde1e6;
  --color-cool-gray-30: #c1c7cd;
  --color-cool-gray-40: #a2a9b0;
  --color-cool-gray-50: #878d96;
  --color-cool-gray-60: #697077;
  --color-cool-gray-70: #4d5358;
  --color-cool-gray-80: #343a3f;
  --color-cool-gray-90: #21272a;
  --color-cool-gray-100: #121619;

  --spacing-8: 8px;
  --spacing-16: calc(var(--spacing-8) * 2);
  --spacing-24: calc(var(--spacing-8) * 3);
  --spacing-32: calc(var(--spacing-8) * 4);
  --spacing-48: calc(var(--spacing-8) * 6);
  --spacing-64: calc(var(--spacing-8) * 8);
  --spacing-80: calc(var(--spacing-8) * 10);
  --spacing-96: calc(var(--spacing-8) * 12);
}
