.top {
  border-bottom: 1px solid var(--color-border-2);
  padding: var(--spacing-16) 0;
}

.top>div {
  display: flex;
  justify-content: space-between;
}

.topMenu {
  display: flex;
  margin-left: var(--spacing-80);
}

.topRegion {
  display: flex;
  min-width: 161px;
  margin-left: var(--spacing-8);
  margin-right: var(--spacing-24);
  gap: var(--spacing-8);
  height: var(--spacing-32);
  align-items: center;
}

.regionName {
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .top {
    display: none;
  }
}