.top {
  border-bottom: 1px solid var(--color-cool-gray-30);
  padding: var(--spacing-8) 0;
  font-size: 16px;
  font-weight: 500;
}

.top>div {
  display: flex;
  justify-content: space-between;
}

.top__region {
  min-width: 161px;
  margin-left: var(--spacing-8);
  margin-right: var(--spacing-24);
  display: flex;
  align-items: center;
}

.top__region img {
  margin-right: var(--spacing-8);
}

@media screen and (max-width: 1024px) {
  .top {
    display: none;
  }
}